{
  "parser": "@typescript-eslint/parser",
  "plugins": ["svelte3", "@typescript-eslint", "testing-library", "jest-dom"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"],
    "extraFileExtensions": [".svelte"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:jest-dom/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "ignorePatterns": ["tailwind.config.ts"],
  "rules": {
    "no-void": "off",
    "no-nested-ternary": "off",
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/classnames-order": "warn",
    "testing-library/no-node-access": ["error", { "allowContainerFirstChild": true }]
  },
  "settings": {
    "svelte3/typescript": true
  }
}
