{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"],
    "extraFileExtensions": [".svelte"] // This is a required setting in `@typescript-eslint/parser` v4.24.0
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      // Parse the `<script>` in `.svelte` as TypeScript by adding the following configuration.
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ],
  "plugins": ["@typescript-eslint", "@tanstack/query", "testing-library", "jest-dom"],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:svelte/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@tanstack/eslint-plugin-query/recommended",
    "plugin:jest-dom/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "ignorePatterns": ["tailwind.config.ts"],
  "rules": {
    "no-void": "off",
    "no-nested-ternary": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "testing-library/no-node-access": ["error", { "allowContainerFirstChild": true }],
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/classnames-order": "warn"
  },
  "settings": {
    "tailwindcss": {
      "callees": ["class", "cn", "clsx", "ctl", "tw", "twMerge", "twJoin"],
      "config": "tailwind.config.ts"
      // classRegex: '^class(Name)?$', // can be modified to support custom attributes. E.g. "^tw$" for `twin.macro`
    }
  }
}
