{
  "parser": "@typescript-eslint/parser",
  "plugins": ["svelte3", "@typescript-eslint"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": ["./tsconfig.json"],
    "extraFileExtensions": [".svelte"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
    // 'plugin:@tanstack/eslint-plugin-query/recommended',
    // 'plugin:jest-dom/recommended',
    // 'plugin:tailwindcss/recommended',
  ],
  "rules": {
    "no-void": "off",
    "no-nested-ternary": "off"
  },
  "settings": {
    "svelte3/typescript": true
  }
}
